NEXT_PUBLIC_BUILD_DATE = 12345
AEM_GRAPHQL_ENDPOINT = "test.com"
LOGGING_LEVEL = " info or debug"
NEXTAUTH_SECRET= openssl rand -base64 32
NEXTAUTH_URL="http://localhost:3000"
CLIENT_SECRET="Client Secret from IDP"
CLIENT_ID="Client ID registered at the IDP"
AUTH_ECAS_BASE_URL="ECAS base URL"
AUTH_ECAS_WELL_KNOWN="ECAS well known endpoint"
AUTH_ECAS_AUTHORIZATION="ECAS authorization endpoint"
AUTH_ECAS_USERINFO="ECAS userinfo endpoint"
AUTH_PRIVATE={  "kty": "RSA",  "n": "example private key" }
AUTH_DISABLED="set to 'true' to disable authentiation"
