NEXT_PUBLIC_BUILD_DATE = 12345
AEM_GRAPHQL_ENDPOINT = "test.com"
LOGGING_LEVEL = " info or debug" 
MSCA_BASE_URL = "MSCA base url"
MSCA_EQ_BASE_URL = "MSCA base url with eq extension"
MSCA_ECAS_RASC_BASE_URL = "MSCA base url with ecas extension"
SWAP_USER_TESTING_LINKS = "Set true to use UT links"
