apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
  {{ with .Values.deployment.labels }}
    {{ toYaml . | nindent 4 }}
  {{ end }} 
  {{ with .Values.deployment.annotations }}
  annotations:
    {{ toYaml . | nindent 4 }}
  {{ end }}   
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
{{- if .Values.extraEnv }}
{{ toYaml .Values.extraEnv | indent 12 }}
{{- end }}
          ports:
            - name: http
              {{ if .Values.port }}
              containerPort: {{ .Values.port }}
              {{ else }}
              containerPort: 3000
              {{ end }}
              protocol: TCP
          livenessProbe:
            httpGet:
              path: {{ .Values.healthChecks.livenessPath }}
              port: http
            initialDelaySeconds: {{ .Values.healthChecks.livenessDelay }}
          readinessProbe:
            httpGet:
              path: {{ .Values.healthChecks.readinessPath }}
              port: http
            initialDelaySeconds: {{ .Values.healthChecks.readinessDelay }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
        {{- if .Values.oauth }}
        - args:
            ## OAuth2 Proxy Config File
            ## https://github.com/oauth2-proxy/oauth2-proxy

            ## <addr>:<port> to listen on for HTTP/HTTPS clients
            - --http-address={{ .Values.oauth.args.httpAddress | quote }}

            ## the url root path that this proxy should be nested under
            - --proxy-prefix={{ .Values.oauth.args.proxyPrefix | quote }}

            ## the http url(s) of the upstream endpoint
            - --upstreams={{- toJson .Values.oauth.args.upstreams }}

            ## email domains to allow authentication for
            - --email-domains={{- toJson .Values.oauth.args.emailDomains }}

            ## bypass authentication for requests that match the method & path
            - --skip-auth-routes={{- toJson .Values.oauth.args.skipAuthRoutes }}

            ## mark paths as API routes to get HTTP Status code 401 instead of redirect to login page
            - --api-routes = {{- toJson .Values.oauth.args.apiRoutes }}

            ## cookie settings
            - --cookie-domains = {{- toJson .Values.oauth.args.cookieDomains }}

            ## html page settings
            - --banner = {{ .Values.oauth.args.banner | quote }}
            - --custom-sign-in-logo = {{ .Values.oauth.args.customSignInLogo | quote }}
            - --footer = {{ .Values.oauth.args.footer | quote }}
            - --provider-display-name = {{ .Values.oauth.args.providerDisplayName | quote }}

            ## disable logging of requests to ping endpoint
            - --silence-ping-logging = {{ .Values.oauth.args.silencePingLogging | quote }}

            ## will skip authentication for OPTIONS requests
            - --skip-auth-preflight = {{ .Values.oauth.args.skipAuthPreflight | quote }}

            ## OIDC settings
            - --provider = {{ .Values.oauth.args.provider | quote }}
            - --client-id = {{ .Values.oauth.args.clientID | quote }}
            - --oidc-issuer-url = {{ .Values.oauth.args.oidcIssuerURL | quote }}
            - --skip-jwt-bearer-tokens = {{ .Values.oauth.args.skipJWTBearerTokens | quote }}
            - --skip-provider-button = {{ .Values.oauth.args.skipProviderButton | quote }}
          name: oauth-proxy
          image: quay.io/oauth2-proxy/oauth2-proxy:v7.6.0
          imagePullPolicy: Always
          env:
{{- if .Values.oauth.extraEnv }}
{{ toYaml .Values.oauth.extraEnv | indent 12 }}
{{- end }}
          
          ports:
            - containerPort: {{ .Values.oauth.ports.containerPort }}
              name: {{ .Values.oauth.ports.name }}
          livenessProbe:
            httpGet:
              path: {{ .Values.oauth.healthChecks.livenessPath }}
              port: {{ .Values.oauth.healthChecks.livenessPort }}
            initialDelaySeconds: {{ .Values.oauth.healthChecks.livenessDelay }}
            timeoutSeconds: {{ .Values.oauth.healthChecks.livenessTimeout }}
          readinessProbe:
            httpGet:
              path: {{ .Values.oauth.healthChecks.readinessPath }}
              port: {{ .Values.oauth.healthChecks.readinessPort }}
            initialDelaySeconds: {{ .Values.oauth.healthChecks.readinessDelay }}
            timeoutSeconds: {{ .Values.oauth.healthChecks.readinessTimeout }}
            periodSeconds: {{ .Values.oauth.healthChecks.readinessPeriodSeconds }}
            successThreshold: {{ .Values.oauth.healthChecks.readinessSuccessThreshold }}
          resources:
            {{- toYaml .Values.oauth.resources | nindent 12 }}
        {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
