/* tailwind default */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  /* consistent focus styles on all components */
  * {
    @apply focus:outline-none;
    @apply focus-visible:ring-1;
    @apply focus-visible:ring-black;
  }

  body{
  @apply font-body
  }
}

.sch-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 768px) {
  .sch-container {
      max-width: 768px;
      padding-right: 24px;
      padding-left: 24px;
  }
}
@media (min-width: 992px) {
  .sch-container {
      max-width: 992px;
      padding-right: 26px;
      padding-left: 26px;
  }
}
@media (min-width: 1200px) {
  .sch-container {
      max-width: 1200px;
      padding-right: 30px;
      padding-left: 30px;
  }
}
