/* tailwind default */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  /* consistent focus styles on all components */
  * {
    @apply focus:outline-none;
    @apply focus-visible:ring-1;
    @apply focus-visible:ring-black;
  }
}
ds-container{
  max-width: 992px;
  padding-left: 26px;
  padding-right: 26px
}

 
